:root {
	--main-bg: #1a1b26;
	--main-fg: #c0caf5;
	--border: #24283b;
	--second-bg: #161620;
	--grey: #565f89;
	--placeholder: #c0caf578;

	--purple: #bb9af7;
	--red: #f7768e;
	--orange: #ff9e64;
	--yellow: #e0af68;
	--green: #9ece6a;
	--blue: #7aa2f7;
	--turquoise: #2ac3de;
	--light-blue: #73daca;

	--accent: var(--blue);
}

body {
  margin: 0px;
  font-family: sans-serif;
  background: var(--main-bg);
  color: var(--main-fg);
}

a {
  text-decoration: none;
  color: var(--main-fg);
}

a:active {
  color: var(--purple);
}

.navbar * {
  display: inline-block;
}

.navbar {
  margin: 10px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

hr {
  color: var(--grey);
}

.big-button {
  background: var(--second-bg);
  color: var(--main-fg);
  padding: 10px;
  border-radius: 3px;
  border: 2px solid var(--border);
  cursor: pointer;
}

.big-button:hover {
  color: var(--blue);
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px); /* Account for margin on navbar */
}

.logo,
.searchForm,
.utils {
  flex: 1;
  display: flex;
  align-items: center;
}

.searchForm form {
  width: 100%;
}

.utils a {
  margin-left: 10px;
}

.utils {
  justify-content: flex-end;
}

.searchForm input {
  position: relative;
  font-size: 20px;
  width: 100%;
  height: 20px;
  background: var(--second-bg);
  border-radius: 5px;
  border: 2px solid var(--border);
  color: var(--main-fg);
  padding: 5px;
}

.searchForm input:focus {
  outline: none;
}

.emoji {
  color: transparent;  
  text-shadow: 0 0 0 var(--main-fg);
}
