<div class="info">
  <div id="title">
    {{ data.title }}
  </div>
  <div class="stats">
    <div class="left-side-stats">
      <span class="stat" id="views">{{ data.viewCount }} views</span> | 
      <span class="stat" id="date">{{ data.published }}</span>
    </div>
    <div class="right-side-stats">
      <span class="stat emoji" id="likes">👍 {{ data.likeCount }}</span>
    </div>
  </div>
  <a class="author" href="{{ data.authorUrl }}">
    <img src="{{ data.authorThumbnails[1].url }}">
    <span class="author-name">{{ data.author }}</span>
  </a>
  <form id="subscribe-button" action="/subscribe">
    <button type="submit" class="subscribe">Subscribe - {{ data.subCountText }}</button>
  </form>
  <hr>
  <div class="desc">
    <button id="closeDesc" class="big-button">Minimize Description</button>
    <p class="description">{{ data.descriptionHtml|safe }}</p>
  </div>
  <hr>
</div>
